html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    max-height: 40px;
}

.main_menu ul {
    position: relative;
    margin: 0;
    padding: 0;
}

.main_menu a {
    text-decoration: none;
    color: #cccccc;
}

.main_menu>ul:nth-child(1) {
    text-align: center;
}

.main_menu>ul>li {
    margin-right: 30px;
    margin-left: 30px;
}

.main_menu ul li {
    text-align: left;
    display: inline-block;
    list-style-type: none;
}

.main_menu ul ul {
    display: none;
    position: absolute;
    background-color: #212121;
}

.main_menu ul>li a:hover {
    color: #ffffff;
}

.main_menu li:hover ul {
    padding: 3px;
    display: block;
    background-color: #333333;
}

.main_menu li:hover li {
    display: block;
}

b {
    font-weight: 600;
}

span a {
    color: #347FC4;
}

.order {
    width: 500px;
}

.order ul li {
    list-style-type: none;
}

iframe {
    border: none;
}