@font-face {
    font-family: Biorhyme;
    src: url(fonts/BioRhyme-Regular.otf);
}

html {
    font-family: Biorhyme, Arial, Helvetica, sans-serif;
}


/*Скролбар*/
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: #E2E2E2;
    border-radius: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #C5CBD7;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background: #5A6273;
    border-radius: 15px;
}




.post {
    height: 620px;
    width: 40%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid transparent;
}

.user__item {
    display: -block;
    margin: 10px;
}

.username__text {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 8px;
    font-weight: 600;
}

.post:nth-of-type(odd) {
    float: left;
}

.user_avatar {
    float: left;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.different__user__icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
}


.post__item__material {
    height: 500x;
    width: 500px;
    object-fit: cover;
}

iframe{
    width: 500px;
    height: 500px;
}
