body {
    margin: 0em;
    padding: 0em;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(img/sun.png), url(img/sea.jpg), url(img/sky.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right, bottom center, center;
    background-size: 300px 300px, 100% 250px, cover;
}